@import "https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans";
/* line 11, ../sass/example.scss */
body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

/* line 15, ../sass/example.scss */
.container {
  max-width: 1000px;
  background-color: #fff;
  margin: 0 auto;
}

/* line 20, ../sass/example.scss */
#ex2 {
  font-family: 'Inconsolata',monospace;
  background-color: #fafafa;
  padding: 2.5%;
  width: 90%;
  margin: 2em auto 0;
  -moz-box-shadow: rgba(68, 68, 68, 0.75) 2px 2px 10px;
  -webkit-box-shadow: rgba(68, 68, 68, 0.75) 2px 2px 10px;
  box-shadow: rgba(68, 68, 68, 0.75) 2px 2px 10px;
}
/* line 5, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
#ex2 html, #ex2 body, #ex2 div, #ex2 span, #ex2 applet, #ex2 object, #ex2 iframe,
#ex2 h1, #ex2 h2, #ex2 h3, #ex2 h4, #ex2 h5, #ex2 h6, #ex2 p, #ex2 blockquote, #ex2 pre,
#ex2 a, #ex2 abbr, #ex2 acronym, #ex2 address, #ex2 big, #ex2 cite, #ex2 code,
#ex2 del, #ex2 dfn, #ex2 em, #ex2 img, #ex2 ins, #ex2 kbd, #ex2 q, #ex2 s, #ex2 samp,
#ex2 small, #ex2 strike, #ex2 strong, #ex2 sub, #ex2 sup, #ex2 tt, #ex2 var,
#ex2 b, #ex2 u, #ex2 i, #ex2 center,
#ex2 dl, #ex2 dt, #ex2 dd, #ex2 ol, #ex2 ul, #ex2 li,
#ex2 fieldset, #ex2 form, #ex2 label, #ex2 legend,
#ex2 table, #ex2 caption, #ex2 tbody, #ex2 tfoot, #ex2 thead, #ex2 tr, #ex2 th, #ex2 td,
#ex2 article, #ex2 aside, #ex2 canvas, #ex2 details, #ex2 embed,
#ex2 figure, #ex2 figcaption, #ex2 footer, #ex2 header, #ex2 hgroup,
#ex2 menu, #ex2 nav, #ex2 output, #ex2 ruby, #ex2 section, #ex2 summary,
#ex2 time, #ex2 mark, #ex2 audio, #ex2 video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
/* line 22, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
#ex2 html {
  line-height: 1;
}
/* line 24, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
#ex2 ol, #ex2 ul {
  list-style: none;
}
/* line 26, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
#ex2 table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 28, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
#ex2 caption, #ex2 th, #ex2 td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
/* line 30, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
#ex2 q, #ex2 blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
#ex2 q:before, #ex2 q:after, #ex2 blockquote:before, #ex2 blockquote:after {
  content: "";
  content: none;
}
/* line 32, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
#ex2 a img {
  border: none;
}
/* line 116, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
#ex2 article, #ex2 aside, #ex2 details, #ex2 figcaption, #ex2 figure, #ex2 footer, #ex2 header, #ex2 hgroup, #ex2 main, #ex2 menu, #ex2 nav, #ex2 section, #ex2 summary {
  display: block;
}
/* line 29, ../sass/example.scss */
#ex2 .val .val-history {
  background-color: #c4c4c4;
  color: #fafafa;
  padding: 0.2em 0.5em;
  min-height: 1.5em;
}
/* line 34, ../sass/example.scss */
#ex2 .val .val-history .op {
  color: #1851ce;
}
/* line 38, ../sass/example.scss */
#ex2 .val #valInput {
  font-family: 'Inconsolata',monospace;
  border: 0;
  height: 2.5em;
}
/* line 61, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#ex2 .val #valInput:-moz-placeholder {
  color: #444;
}
/* line 64, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#ex2 .val #valInput::-moz-placeholder {
  color: #444;
}
/* line 67, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#ex2 .val #valInput:-ms-input-placeholder {
  color: #444;
}
/* line 56, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#ex2 .val #valInput::-webkit-input-placeholder {
  color: #444;
}
/* line 50, ../sass/example.scss */
#ex2 .ctrl ul li button {
  font-family: 'Inconsolata',monospace;
  border: 0;
  color: #444;
  border: 2px solid #fafafa;
}
/* line 55, ../sass/example.scss */
#ex2 .ctrl ul li button sup {
  position: absolute;
  margin-top: -0.5em;
  font-size: 0.8em;
  color: #c61800;
}
/* line 61, ../sass/example.scss */
#ex2 .ctrl ul li button:hover, #ex2 .ctrl ul li button:active, #ex2 .ctrl ul li button:focus {
  color: #fafafa;
}
/* line 63, ../sass/example.scss */
#ex2 .ctrl ul li button:hover sup, #ex2 .ctrl ul li button:active sup, #ex2 .ctrl ul li button:focus sup {
  color: #fafafa;
}
/* line 72, ../sass/example.scss */
#ex2 .ctrl ul.ops li button:hover {
  background-color: #769cef;
}
/* line 75, ../sass/example.scss */
#ex2 .ctrl ul.ops li button:active, #ex2 .ctrl ul.ops li button:focus {
  background-color: #1851ce;
}
/* line 81, ../sass/example.scss */
#ex2 .ctrl ul.ops li.clr button:hover {
  background-color: #ff5d47;
}
/* line 84, ../sass/example.scss */
#ex2 .ctrl ul.ops li.clr button:active, #ex2 .ctrl ul.ops li.clr button:focus {
  background-color: #c61800;
}
/* line 91, ../sass/example.scss */
#ex2 .ctrl ul.ops li.res button:hover {
  background-color: #88df8d;
}
/* line 94, ../sass/example.scss */
#ex2 .ctrl ul.ops li.res button:hover, #ex2 .ctrl ul.ops li.res button:focus {
  background-color: #31b639;
}
/* line 104, ../sass/example.scss */
#ex2 .ctrl ul.numPad li button:hover {
  background-color: #ffdb3d;
}
/* line 107, ../sass/example.scss */
#ex2 .ctrl ul.numPad li button:active, #ex2 .ctrl ul.numPad li button:focus {
  background-color: #ffcf00;
}
